<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:extractNativeLibs="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/app_icon"
        android:roundIcon="@drawable/app_icon"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="youtu.be" />
                <data android:scheme="https" android:host="www.youtube.com" />
                <data android:scheme="https" android:host="m.youtube.com" />
                <data android:scheme="https" android:host="www.instagram.com" />
                <data android:scheme="https" android:host="instagram.com" />
                <data android:scheme="https" android:host="www.facebook.com" />
                <data android:scheme="https" android:host="m.facebook.com" />
                <data android:scheme="https" android:host="facebook.com" />
                <data android:scheme="https" android:host="fb.watch" />
                <data android:scheme="https" android:host="www.tiktok.com" />
                <data android:scheme="https" android:host="vm.tiktok.com" />
                <data android:scheme="https" android:host="vt.tiktok.com" />
                <data android:scheme="https" android:host="www.pinterest.com" />
                <data android:scheme="https" android:host="pinterest.com" />
                <data android:scheme="https" android:host="pin.it" />
                <data android:scheme="https" android:host="x.com" />
                <data android:scheme="https" android:host="www.x.com" />
                <data android:scheme="https" android:host="twitter.com" />
                <data android:scheme="https" android:host="www.twitter.com" />
                <data android:scheme="http" android:host="youtu.be" />
                <data android:scheme="http" android:host="www.youtube.com" />
                <data android:scheme="http" android:host="m.youtube.com" />
                <data android:scheme="http" android:host="www.instagram.com" />
                <data android:scheme="http" android:host="instagram.com" />
                <data android:scheme="http" android:host="www.facebook.com" />
                <data android:scheme="http" android:host="m.facebook.com" />
                <data android:scheme="http" android:host="facebook.com" />
                <data android:scheme="http" android:host="fb.watch" />
                <data android:scheme="http" android:host="www.tiktok.com" />
                <data android:scheme="http" android:host="vm.tiktok.com" />
                <data android:scheme="http" android:host="vt.tiktok.com" />
                <data android:scheme="http" android:host="www.pinterest.com" />
                <data android:scheme="http" android:host="pinterest.com" />
                <data android:scheme="http" android:host="pin.it" />
                <data android:scheme="http" android:host="x.com" />
                <data android:scheme="http" android:host="www.x.com" />
                <data android:scheme="http" android:host="twitter.com" />
                <data android:scheme="http" android:host="www.twitter.com" />
            </intent-filter>
        </activity>

        <service
            android:name=".DownloadKeepAliveService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.files"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>
